{% extends "base.html.twig" %}
{% block title %}Budget Planning{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('reset.css', 'css')}}">
    <link rel="stylesheet" type="text/css" href="{{ asset('admin.css', 'css')}}">
{% endblock %}
{% block body %}
    <div class="main-wrapper">
        <div class="list">
            {% for user in users %}
                <div class="user">
                    <a href="{{ path('change_user', {'id': user.id}) }}">{{ user.name }}, {{ user.email }}</a>
                </div>
            {% endfor %}
        </div>
        <div class="form">
            {% if form %}
                <h3>Edit</h3>
                {{ form_start(form) }}
                {{ form_widget(form) }}
                <input type="submit" value="Save"/>
                {{ form_end(form) }}
            {% else %}
                You can edit user
            {% endif %}
        </div>
    </div>
{% endblock %}
