{% extends "base.html.twig" %}
{% block title %}Budget Planning{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('history.css', 'css')}}">
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('history.js', 'js') }}"></script>
{% endblock %}
{% block body %}
    <div class="main-wrapper">
        <div class="change-period-block">
            <p>Look for another period:</p>
            {{ form_start(form) }}
            {{ form_widget(form) }}
            <input type="submit" value="Look"/>
            {{ form_end(form) }}
        </div>
        <div class="block">
            <h1>Expenses</h1>
            <table class="money-operation">
                <tr>
                    <th>Category</th>
                    <th>Sum</th>
                    <th>Date</th>
                    <th>Description</th>
                    <th colspan="2"></th>
                </tr>
                {% for expense in history_expense %}
                    <tr>
                        <td>{{ expense.category.name }}</td>
                        <td>{{ expense.sum }}</td>
                        <td>{{ expense.date | date("d.m.Y", "Europe/Moscow") }}</td>
                        <td>{{ expense.description }}</td>
                        <td><a href='{{ path('edit_money_operation', {'id': expense.id}) }}'>Edit</a></td>
                        <td><a class="delete-button" href='{{ path('delete_money_operation', {'id': expense.id}) }}'>Delete</a></td>
                    </tr>
                {% endfor %}
            </table>
        </div>
        <div class="block">
            <h1>Income</h1>
            <table class="money-operation">
                <tr>
                    <th>Category</th>
                    <th>Sum</th>
                    <th>Date</th>
                    <th>Description</th>
                    <th colspan="2"></th>
                </tr>
                {% for income in history_income %}
                    <tr>
                        <td>{{ income.category.name }}</td>
                        <td>{{ income.sum }}</td>
                        <td>{{ income.date | date("d.m.Y", "Europe/Moscow") }}</td>
                        <td>{{ income.description }}</td>
                        <td><a href='{{ path('edit_money_operation', {'id': income.id}) }}'>Edit</a></td>
                        <td><a href='/'>Delete</a></td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
{% endblock %}
