{% extends "base.html.twig" %}
{% block title %}Budget Planning{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('reset.css', 'css')}}">
    <link rel="stylesheet" type="text/css" href="{{ asset('operation.css', 'css')}}">
{% endblock %}
{% block body %}
    {{ include('_header.html.twig') }}
    <div class="main-wrapper">
        <div class="form">
            <h3>Add something new!</h3>
            {{ form_start(form) }}
            {{ form_widget(form) }}
            <input type="submit" value="Save"/>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
