{% extends "base.html.twig" %}
{% block title %}Budget Planning{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('reset.css', 'css')}}">
    <link rel="stylesheet" type="text/css" href="{{ asset('profile.css', 'css')}}">
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('category.js', 'js') }}"></script>
    <script src="{{ asset('limit.js', 'js') }}"></script>
{% endblock %}
{% block body %}
    <div class="main-wrapper">
        <div class="greeting">
            <h2>Hello, {{ user.name }}</h2>
        </div>
        <div class="balance">
            <h3>Your balance: {{ user.balance }}</h3>
            <a href="{{ path('change_balance') }}">Change balance</a>
        </div>
        <div class="two-blocks-in-row">
            <div class="operations-block">
                <div class="operations-info">
                    <table>
                        <tr>
                            <th colspan="2">In this month you</th>
                        </tr>
                        <tr>
                            <th>EARNED</th>
                            <th>SPENT</th>
                        </tr>
                        <tr>
                            <td>{{ income_sum }}</td>
                            <td>{{ expense_sum }}</td>
                        </tr>
                    </table>
                </div>
                <div class="operation-forms">
                    <div class="income-form">
                        <h3>Add income</h3>
                        {{ form_start(income_form) }}
                        {{ form_widget(income_form) }}
                        <input type="submit" value="Save"/>
                        {{ form_end(income_form) }}
                    </div>
                    <div class="expense-form">
                        <h3>Add expense</h3>
                        {{ form_start(expense_form) }}
                        {{ form_widget(expense_form) }}
                        <input type="submit" value="Save"/>
                        {{ form_end(expense_form) }}
                    </div>
                </div>
            </div>
            <div class="category-block">
                <button class="create-category-button">Create category</button>
                <p class="success-note display-none">Success!</p>
                <form action="{{ path('create_category') }}" class="display-none category-form">
                    <label for="name">Name</label>
                    <input type="text" name="name" id="name">
                    <label for="type">Type</label>
                    <select name="type" id="type">
                        <option value="true" selected>Income</option>
                        <option value="false">Expense</option>
                    </select>
                    <input type="submit" value="Save">
                </form>
                <button class="show-all-categories-button">All categories</button>
                <p class="category-note display-none">Click on category if you want edit it.</p>
                <p class="category-note display-none">Click on cross next to category to delete.</p>
                <div class="all-categories display-none">
                    <div class="div-categories">
                        <h3>Income</h3>
                        <ul class="income-ul">
                            {% for category in income_categories %}
                                {% if category.owner == null %}
                                    <li>{{ category.name }}</li>
                                {% else %}
                                    <li><a href="{{ path('change_category', {'id': category.id}) }}">{{ category.name }}</a><span data-category-id="{{ category.id }}"> ✗</span></li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="div-categories">
                        <h3>Expense</h3>
                        <ul class="expense-ul">
                            {% for category in expense_categories %}
                                {% if category.owner == null %}
                                    <li>{{ category.name }}</li>
                                {% else %}
                                    <li><a href="{{ path('change_category', {'id': category.id}) }}">{{ category.name }}</a><span data-category-id="{{ category.id }}"> ✗</span></li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <p class="category-note display-none">You can not edit or delete default categories.</p>
            </div>
        </div>
        <h3 class="center">Your limits</h3>
        <div class="limits-block">
            {% for limit in limits %}
                <div class="limit">
                    <span>{{ limit.category.name }}</span>
                    <p>Left from Total:</p>
                    <p class="available-sum">
                        <span>{{ limit.currentSum }}</span> / <span>{{ limit.totalSum }}</span>
                    </p>
                    <div>
                        <a href="{{ path('change_limit', {'id': limit.id}) }}">Edit</a>
                        <a class="delete-limit-btn" href="{{ path('delete_limit', {'id': limit.id}) }}">Delete</a>
                    </div>
                </div>
            {% endfor %}
            <a class="create-limit-btn" href="{{ path('create_limit') }}">Create limit</a>
        </div>
    </div>
{% endblock %}
